<a href="https://colab.research.google.com/github/Jmd1704/2025-segundo-semestre-ia-economia/blob/main/Taller_objetos_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio** # **1**

Respuesta Correcta : D ya que los tipos de objetos básicos son los números(int,float), cadenas de texto(str),listas,tuplas,diccionarios,conjuntos(set) y booleanos.

**Ejercicio # 2**

Respuesta Correcta : B

**Ejercicio # 3**

Respuesta Correcta : A

**Ejercicio # 4**

In [16]:
x = (1,2,3)
print(x[1]) # Llama al elemento en la posición 1

2

Respuesta Correcta : B

**Ejercicio # 5**

In [17]:
t = (1,2,3).   # las tuplas son inmutables, no se puede reasignar un valo
t[0] = 10

SyntaxError: invalid syntax (ipython-input-1359580562.py, line 1)

Respuesta Correcta : C

**Ejercicio # 6**

In [18]:
s = {1,2,2,3,3}
print(s)

{1, 2, 3}

Respuesta Correcta : B

**Ejercicio # 7**

In [19]:
palabra = "Mundo"
print(palabra[1:4])

und

Respuesta Correcta : C

**Ejercicio # 8**

In [20]:
lista =[10,20,30]
lista.append(40)  # Añade un elemento a la lista
print(lista)

[10, 20, 30, 40]

Respuesta Correcta : B

**Ejercicio # 9**

In [21]:
dic = {"a":1,"b":2}
print(dic["c"])    # Obtenemos un KeyError ya que "c" no se encuentra en el diccionario

KeyError: 'c'

Respuesta Correcta : C

**Ejercicio # 10**

In [23]:
d = {"x":1,"y":2,"z":3}
d["z"]

3

Respuesta Correcta : A

**Ejercicio # 11**

In [25]:
print(type(3.0))  # Devuelve el tipo de dato que es

<class 'float'>

Respuesta Correcta : B

**Ejercicio # 12**

In [26]:
x = [1,2,3]
y = x
y.append(4)   # Agregamos el 4 a la lista
print(x)

[1, 2, 3, 4]

Respuesta Correcta : B

**Ejercicio # 13**

In [30]:
numeros = ["10","20","30"]
resultado= ",".join(numeros)

In [31]:
print(resultado) # Imprime el resultado como texto

10,20,30

Respuesta Correcta : D

**Ejercicio # 14**

In [32]:
s = {1,2,3}

Convertir el conjunto en una lista

In [33]:
list(s)

[1, 2, 3]

Respuesta Correcta : A

**Ejercicio # 15**

In [36]:
cadena = "Hola"
print(cadena*3)  # La salida entrega 3 veces Hola

HolaHolaHola

Respuesta Correcta : B

**Ejercicio # 16**

In [37]:
lista = [10,20,30]
print(lista[-1])     # Devuelve el último elemento de la lista

30

Respuesta Correcta : C

**Ejercicio # 17**

In [39]:
precios = [1200,500,3400,800]
precios.sort()      # Ordena la lista
precios

[500, 800, 1200, 3400]

Respuesta Correcta : A

**Ejercicio # 18**

In [42]:
conjunto = {1,2,3}
print(conjunto[0])   # Los conjunto no son indexables, es decir no se pueden acceder a sus elementos como si fueran listas o tuplas

TypeError: 'set' object is not subscriptable

Respuesta Correcta : A

**Ejercicio # 19**

In [43]:
len({"a":1,"b":2,"c":3})  # Entrega la cantidad de elementos que hay

3

Respuesta Correcta : B

**Ejercicio # 20**

In [44]:
lista = [1,2,3]
print(lista*2)  # Entrega la lista duplicada

[1, 2, 3, 1, 2, 3]

Respuesta Correcta : A

**Ejercicio # 21**

In [45]:
d = {"a":1}
d["a"] = 100  # Reasignamos el valor de la clave "a"
print(d)

{'a': 100}

Respuesta Correcta : B

**Ejercicio # 22**

In [47]:
print("python".upper()) # Imprime en mayúsculas python

PYTHON

Respuesta Correcta : A

**Ejercicio # 23**

In [49]:
s = {1,2,3}

Agregar el número 5 al conjunto s

In [55]:
s.add(5) # Agregamos el número 5
print(s)

{1, 2, 3, 5}

Respuesta Correcta : A

**Ejercicio # 24**

In [56]:
d = {"x":10,"y":20}
print("x" in d)    # Preguntamos si X esta en d

True

Respuesta Correcta : B

**Ejercicio # 25**

In [58]:
print([1,2,3] == [1,2,3]) # Compara las listas para evalúar si tienen los elementos en el mismo orden

True

Respuesta Correcta : A

**Ejercicio # 26**

In [62]:
for i in range(5):
 print(i)           # Imprime los números hasta el 5 sin tener en cuenta el último

0
1
2
3
4

Respuesta Correcta : C

**Ejercicio # 27**

In [67]:
s = {1,2,3}
s.remove(4) # Al intentar remover un elemento que no esta en el conjunto nos aparece KeyError

KeyError: 4

Respuesta Correcta : C

**Ejercicio # 28**

In [69]:
texto = "Colombia México Perú Chile"
paises = texto.split()              # El split nos ayuda para dividir una cadena de texto en partes y devolverlas en una lista
paises

['Colombia', 'México', 'Perú', 'Chile']

Respuesta Correcta : B

**Ejercicio # 29**

In [71]:
ventas = "1000;2500;3200;4500"
valores = ventas.split(";")
valores

['1000', '2500', '3200', '4500']

Respuesta Correcta : A

**Ejercicio # 30**

In [74]:
palabras = ["Economía","Mercados","Exportaciones"]
texto = "-".join(palabras)    # Separa los elementos por - en vez de , y los escribe como texto
texto

'Economía-Mercados-Exportaciones'

Respuesta Correcta : B

**Ejercicio # 31**

In [76]:
empresas = ["Amazon","Google","Microsoft","Apple"]
empresas.sort()  # Ordena la lista en orden alfabético

In [77]:
empresas

['Amazon', 'Apple', 'Google', 'Microsoft']

Respuesta Correcta : A

In [ ]:
# Aunque en la respuesta sale primero Apple ["Apple","Amazon","Google","Microsfot"], va primero Amazon por el orden lexicográfico de la segunda letra en la palabra

**Ejercicio # 32**

In [79]:
números = list(range(2,10,2)) # Lista números de 2 en 2, desde el 2 hasta el 10 sin tomar en cuenta el 10
números

[2, 4, 6, 8]

Respuesta Correcta : A