# **Range()**

Elaborado por: Lina María Castro

Fecha: 19 de agosto de 2025

Retorna una lista de elementos desde 0 y hasta el parámetro menos uno que se envíe dentro de los paréntesis.

Retorna solo para números enteros.

In [ ]:
# Lista de 0 a 9
range(10)

In [ ]:
list(range(10))

In [ ]:
# Lista de 10 a 19, cada 2 elementos
list(range(10,20,2))

In [ ]:
# Lista de 0 a 4
range(5)

In [ ]:
list(range(5))

In [ ]:
for i in range(5):
    print(i)